.square{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-color: red;
    
}
img {
    margin: 15px;
}
/* .square2{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-color: red;
    
} */
.arrow{
    position: absolute;
    top: 90%;
    left: 40%;
}
.pula{
    width: 10px;
    height: 10px;
    background-color: red;
    position: fixed;
}
